<main class="chat">
  {{{UsersBoard}}}

  <div class="chat__line"></div>

  <div class="chat__chat-wrapper">
    {{{SelectedChats}}}

    <div class="chat__chat-box scrollbar">
      <div class="chat-box">
        {{{ChatBox}}}
      </div>
    </div>

    <div class="chat__post-board">
      {{{PostBoard}}}
    </div>
  </div>
</main>
