@import '../../styles/variables.css';

.chat {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: $chat_background;
  background-size: cover;

  &__link {
    text-decoration: none;
  }

  &__line {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 506px;
    border-right: 2px solid $line_color;
  }

  &__chat-wrapper {
    margin-left: 10px;
  }

  &__chat-users {
    position: fixed;
    top: 10px;
    left: 518px;
  }

  &__chat-box {
    position: fixed;
    top: 90px;
    right: 0;
    bottom: 72px;
    left: 508px;
    padding: 10px 0;
    border-top: 2px solid $line_color;
    border-bottom: 2px solid $line_color;
    overflow: auto;
  }

  &__post-board {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 508px;
    padding: 10px 10px 10px 0;
  }
}
