<main class="chat">
  {{{ChatsBoard}}}

  <div class="chat__line"></div>

  <div class="chat__chat-wrapper">
    {{{ChatUsers}}}

    <div class="chat__chat-box scrollbar">
      {{{ChatBox}}}
    </div>

    <div class="chat__post-board">
      {{{PostBoard}}}
    </div>
  </div>
</main>
