<form name="form" action="" class="post-board">
  <button type="button" class="post-board__button_attach svg"></button>
  <button type="button" class="post-board__button_emoji svg"></button>
  <button type="button" class="post-board__button_send svg"></button>
  <input name="message" type="text" class="post-board__input input" />
</form>
