@import '../../styles/variables.css';

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  gap: 0.4vh;
  background: $initial_background;
  user-select: none;

  &__code {
    color: $input_color;
    font-size: 2.58vw;
    font-weight: bold;
  }

  &__description {
    color: $input_color;
  }

  &__description,
  &__link {
    font-size: 2.04vw;
    text-align: center;
  }

  &__link {
    color: hsl(180, 55%, 45%);
  }
}
