<div class="main">
  <div class="container container_wide">
    <h1 class="container__header container__header_big">{{code}}</h1>
    <h2 class="container__header">{{description}}</h2>
    <br>
    <div class="container__element container__element_centered">
      {{{Link
      href=""
      class="container__link"
      text="Вернуться назад"
      onClick=goToIndexPage
      }}}
    </div>
  </div>
</div>